Automatic report with __advanced metrics about debtors (in investment segment)__.\
You can see an example of letter, sent on e-mail, on a screenshot (other file).\
Code was performing in a bank-developed environment (similar to Jupyter Notebook).


Автоматический отчёт с продвинутыми метриками по должникам в инвесте.\
Пример письма, приходящего на почту, на скриншоте (в другом файле).\
Код исполнялся в среде, разработанной банком (подобной Jupyter Notebook).

In [1]:
# Head of html-pattern of a letter
# Начало разметки письма

text = '''<html>\
<head>\
<style type="text/css">\
    body {
        font-family: "Tinkoff Sans", "Calibri"
    }
    p {\
        margin-top: 0px;\
        margin-bottom: 12px;\
    }\
    TABLE {\
        border-collapse: collapse;\
    }\
    TD, TH {\
        border: 1px solid black;\
        padding: 4px;\
    }\
</style>\
</head>\
<body>'''

In [3]:
# 1.1 Full debt on date
# 1.1 Общий долг на дату
# *concept: debt = negative_portfolio
# Согласно концепции за долг принимаются величина отрицательных портфелей

import tinkoff as tf

query = "SELECT business_dt, round(SUM(portf_total_amt_rub), 2) AS debt_on_dt FROM prod_v_emart.invest_account_d \
WHERE portf_total_amt_rub < 0 AND account_status_cd = 'ACT' \
GROUP BY business_dt \
ORDER BY business_dt DESC"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_today_debt = df.head(1)
month_dict = {  1: 'января',
                2: 'февраля',
                3: 'марта',
                4: 'апреля',
                5: 'мая',
                6: 'июня',
                7: 'июля',
                8: 'августа',
                9: 'сентября',
                10: 'октября',
                11: 'ноября',
                12: 'декабря'}
text += f"<p>По состоянию на <i>{df_today_debt.iloc[0].business_dt.day} {month_dict[df_today_debt.iloc[0].business_dt.month]} {df_today_debt.iloc[0].business_dt.year} г.</i> суммарный долг (сумма отрицательных портфелей) составил <b>{'{0:,}'.format(abs(df_today_debt.iloc[0].debt_on_dt)).replace(',', ' ')} руб.</b><br>"
text

SyntaxError: invalid character in identifier (2372916586.py, line 8)

In [ ]:
# 1.2 Full debt on inv.accounts change for a week
# 1.2 Изменение величины общего долга по БС за неделю

query = "SELECT \
            'c ' || (iad.business_dt - integer '7') || ' по ' || (iad.business_dt) AS debt_weekly_change_desc, \
            iad.business_dt, \
            iad.debt_on_dt, \
            lead(iad.debt_on_dt, 7) OVER (PARTITION BY iad.partition_flg ORDER BY business_dt DESC) AS debt_week_ago, \
            (iad.debt_on_dt - (lead(iad.debt_on_dt, 7) OVER (PARTITION BY iad.partition_flg ORDER BY business_dt DESC))) AS debt_weekly_change_amt, \
            CASE \
                WHEN (iad.debt_on_dt - (lead(iad.debt_on_dt, 7) OVER (PARTITION BY iad.partition_flg ORDER BY business_dt DESC))) > 0 \
                    THEN (' долг уменьшился на ') \
                WHEN (iad.debt_on_dt - (lead(iad.debt_on_dt, 7) OVER (PARTITION BY iad.partition_flg ORDER BY business_dt DESC))) < 0 \
                    THEN (' долг увеличился на ') \
                ELSE 'величина долга не изменилась' \
            END AS debt_weekly_change_text \
        FROM (SELECT business_dt, round(SUM(portf_total_amt_rub), 2) AS debt_on_dt, 1 AS partition_flg \
            FROM prod_v_emart.invest_account_d \
            WHERE portf_total_amt_rub < 0 AND account_status_cd = 'ACT' \
            GROUP BY business_dt \
            ORDER BY business_dt DESC \
            LIMIT 30) iad"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_weekly_change = df.head(1)

text += f"За неделю <i>{df_debt_weekly_change.iloc[0].debt_weekly_change_desc}</i> \
    {df_debt_weekly_change.iloc[0].debt_weekly_change_text}{'{0:,}'.format(abs(df_debt_weekly_change.iloc[0].debt_weekly_change_amt)).replace(',', ' ')} руб.</p>"
print(text)

In [ ]:
# 2. Share of inv.accounts (in the total amount inv.accounts with debt) 
# with debt > 10k RUB 
# 2. Доля БС (от общего кол-ва БС с долгом) с долгом менее 10 тыс.

query = "SELECT iad.business_dt, portf_debt_less_10000_num, count(portf_total_amt_rub) AS negative_portf_num, \
            round((CAST(portf_debt_less_10000_num AS numeric) / CAST(count(portf_total_amt_rub) AS numeric)) * 100, 2) AS portf_debt_less_10000_share \
        FROM prod_v_emart.invest_account_d iad \
        INNER JOIN \
            (SELECT business_dt, count(portf_total_amt_rub) AS portf_debt_less_10000_num \
                FROM prod_v_emart.invest_account_d \
                WHERE portf_total_amt_rub < 0 AND portf_total_amt_rub >= -10000 AND account_status_cd = 'ACT' \
                GROUP BY business_dt \
                ORDER BY business_dt DESC \
                ) count_debt_less_10000 \
            ON iad.business_dt = count_debt_less_10000.business_dt \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
        GROUP BY iad.business_dt, portf_debt_less_10000_num \
        ORDER BY iad.business_dt DESC"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_less_10000_share = df.head(1)

text += f"<p><h3 style=\"margin-bottom: 0;\">{df_debt_less_10000_share.iloc[0]['portf_debt_less_10000_share']}%</h3>доля БС с долгом менее 10000 руб. (от общего кол-ва БС с долгом)</p>"
print(text)

In [ ]:
# 3. Share of inv.accounts (in the total amount of inv.accounts with debt)
# 3. Доля БС (от общего кол-ва БС с долгом) с долгом более 10 тыс.

query = "SELECT iad.business_dt, portf_debt_more_10000_num, count(portf_total_amt_rub) AS negative_portf_num, \
                round((CAST(portf_debt_more_10000_num AS numeric) / CAST(count(portf_total_amt_rub) AS numeric)) * 100, 2) AS portf_debt_more_10000_share \
            FROM prod_v_emart.invest_account_d iad \
            INNER JOIN \
                (SELECT business_dt, count(portf_total_amt_rub) AS portf_debt_more_10000_num \
                    FROM prod_v_emart.invest_account_d \
                    WHERE portf_total_amt_rub < -10000 AND account_status_cd = 'ACT' \
                    GROUP BY business_dt \
                    ORDER BY business_dt DESC \
                    ) count_debt_more_10000 \
                ON iad.business_dt = count_debt_more_10000.business_dt \
            WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
            GROUP BY iad.business_dt, portf_debt_more_10000_num \
            ORDER BY iad.business_dt DESC"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_more_10000_share = df.head(1)

text += f"<p><h3 style=\"margin-bottom: 0;\">{df_debt_more_10000_share.iloc[0]['portf_debt_more_10000_share']}%</h3>доля БС с долгом более 10000 руб. (от общего кол-ва БС с долгом)</p>"
print(text)

In [ ]:
# 4. Debt recovery rate in value terms (all debtors) - recovery_rate_amt
# 4. recovery_rate_amt (по всем должникам)

# Concept of recovery_rate: 
# (max debt (for period 01.01.2021 - ...) - debt on a date) / max debt (for period 01.01.2021 - ...)

# client/debtor -> party_rk
# investment account -> account_rk

# Концепция recovery_rate: 
# «Максимальный размер задолженности с 01.01.2021 по уникальным клиентам - 
# размер задолженности на дату расчета / максимальный размер задолженности».

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                        FROM prod_v_emart.invest_account_d iad \
                                                        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt >= '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                        GROUP BY iad.party_rk, iad.business_dt \
                                                        ORDER BY iad.party_rk, iad.business_dt), \
     q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
     q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, COALESCE(SUM(iad.portf_total_amt_rub), 0) AS negative_portfs_sum \
                                                        FROM prod_v_emart.invest_account_d iad \
                                                        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                        GROUP BY iad.party_rk, iad.business_dt \
                                                        ORDER BY iad.party_rk, iad.business_dt) \
SELECT round(SUM(q4.max_negative_portf_sum), 2) AS total_hist_debt, \
       (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5) AS debt_today, \
        round( ((SUM(q4.max_negative_portf_sum) - (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5))  / SUM(q4.max_negative_portf_sum)) * 100, 2) AS recovery_rate_amt \
FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
    INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
    WHERE q2.max_negative_portf_sum < 0 \
    GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_amt = df.head(1)

recovery_rate_amt = df_recovery_rate_amt.iloc[0]['recovery_rate_amt']
total_hist_debt = df_recovery_rate_amt.iloc[0]['total_hist_debt']
print(recovery_rate_amt)
print(f"<p>С 01.01.2021 от максимальной суммы долга по всем клиентам было погашено {recovery_rate_amt}%.<br>")
text += f"<p>С 01.01.2021 от максимальной суммы долга по всем клиентам было погашено {recovery_rate_amt}%.<br>"
text += f"Максимальная сумма долга за период составила {'{0:,}'.format(abs(total_hist_debt)).replace(',', ' ')} руб.</p>"

In [ ]:
# 4.1 Debt recovery rate in value terms (debt < 10k rub)
# 4.1 recovery_rate_amt (долг менее 10 тыс.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt >= '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, COALESCE(SUM(iad.portf_total_amt_rub), 0) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < 0 AND SUM(iad.portf_total_amt_rub) >= -10000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT SUM(q4.max_negative_portf_sum) AS total_debt_in_category, \
            (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5) AS debt_in_category_today, \
                round( ((SUM(q4.max_negative_portf_sum) - (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5)) / SUM(q4.max_negative_portf_sum)) * 100, 2) AS recovery_rate_amt_10000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
            INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < 0 AND q2.max_negative_portf_sum >= -10000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_amt_10000 = df.head(1)
recovery_rate_amt_10000 = df_recovery_rate_amt_10000.iloc[0]['recovery_rate_amt_10000']
recovery_rate_amt_10000

In [ ]:
# 4.2. Debt recovery rate in value terms (10k < debt < 100k rub)
# 4.2. recovery_rate_amt (долг 10-100 тыс.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, COALESCE(SUM(iad.portf_total_amt_rub), 0) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -10000 AND SUM(iad.portf_total_amt_rub) >= -100000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT SUM(q4.max_negative_portf_sum) AS total_debt_in_category, \
            (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5) AS debt_in_category_today, \
                round( ((SUM(q4.max_negative_portf_sum) - (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5))  / SUM(q4.max_negative_portf_sum)) * 100, 2) AS recovery_rate_amt_100000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
            INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -10000 AND q2.max_negative_portf_sum >= -100000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_amt_100000 = df.head(1)
recovery_rate_amt_100000 = df_recovery_rate_amt_100000.iloc[0]['recovery_rate_amt_100000']
recovery_rate_amt_100000

In [ ]:
# 4.3. Debt recovery rate in value terms (100k < debt < 1mln rub)
# 4.3. recovery_rate_amt (долг 100 тыс.- 1 млн руб.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, COALESCE(SUM(iad.portf_total_amt_rub), 0) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -100000 AND SUM(iad.portf_total_amt_rub) >= -1000000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT SUM(q4.max_negative_portf_sum) AS total_debt_in_category, \
            (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5) AS debt_in_category_today, \
                round( ((SUM(q4.max_negative_portf_sum) - (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5))  / SUM(q4.max_negative_portf_sum)) * 100, 2) AS recovery_rate_amt_1000000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
            INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -100000 AND q2.max_negative_portf_sum >= -1000000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_amt_1000000 = df.head(1)
recovery_rate_amt_1000000 = df_recovery_rate_amt_1000000.iloc[0]['recovery_rate_amt_1000000']
recovery_rate_amt_1000000

In [ ]:
# 4.4. Debt recovery rate in value terms (debt = 1+mln rub)
# 4.4.recovery_rate_amt (долг 1+ млн руб.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, COALESCE(SUM(iad.portf_total_amt_rub), 0) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -1000000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT SUM(q4.max_negative_portf_sum) AS total_debt_in_category, \
            (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5) AS debt_in_category_today, \
                round( ((SUM(q4.max_negative_portf_sum) - (SELECT COALESCE(SUM(q5.negative_portfs_sum), 0) FROM q5))  / SUM(q4.max_negative_portf_sum)) * 100, 2) AS recovery_rate_amt_mlnrs \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
            INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -1000000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_amt_mlnrs = df.head(1)
recovery_rate_amt_mlnrs = df_recovery_rate_amt_mlnrs.iloc[0]['recovery_rate_amt_mlnrs']
recovery_rate_amt_mlnrs

In [ ]:
# 4.5. Debt recovery rate in quatitative terms (all clients with debt)
# 4.5. recovery_rate_num (по всем клиентам с долгом)

query = "WITH q (today_debtors_num) AS (SELECT count(DISTINCT party_rk) AS today_debtors_num \
                                        FROM prod_v_emart.invest_account_d iad1 \
                                        WHERE iad1.portf_total_amt_rub < 0 AND iad1.account_status_cd = 'ACT' AND iad1.business_dt = now()::date - integer '1') \
        SELECT count(DISTINCT party_rk) AS all_hist_debtors_num, \
            (SELECT today_debtors_num FROM q) AS today_debtors_num, \
            round((CAST((count(DISTINCT party_rk) - (SELECT today_debtors_num FROM q)) AS numeric) / CAST(count(DISTINCT party_rk) AS numeric)) * 100, 2) AS recovery_rate_num \
        FROM prod_v_emart.invest_account_d iad \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1'"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_num = df.head(1)
recovery_rate_num = df_recovery_rate_num.iloc[0]['recovery_rate_num']
all_hist_debtors_num = int(df_recovery_rate_num.iloc[0]['all_hist_debtors_num'])
print(recovery_rate_num)
print(f"<p>С 01.01.2021 погасили долг: {recovery_rate_num}% клиентов.</p><p>Показатели по клиентам с сегментацией по величине максимальной задолженности:</p>")

text += f"<p>С 01.01.2021 погасили долг: {recovery_rate_num}% клиентов (всего {'{0:,}'.format(all_hist_debtors_num).replace(',', ' ')} клиентов).</p><p>Показатели по клиентам с сегментацией по величине максимальной задолженности:</p>"

In [ ]:
# 4.6. Debt recovery rate in quatitative terms (debt < 10k rub)
# 4.6. recovery_rate_num (долг менее 10 тыс.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < 0 AND SUM(iad.portf_total_amt_rub) >= -10000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT count(q4.party_rk) AS hist_all_debtors_in_category_num, \
            (SELECT count(party_rk) FROM q5) AS debtors_in_category_today_num, \
                round((CAST(count(q4.party_rk) - (SELECT count(party_rk) FROM q5) AS numeric) / CAST(count(q4.party_rk) AS numeric) * 100), 2) AS recovery_rate_num_10000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
            INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < 0 AND q2.max_negative_portf_sum >= -10000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_num_10000 = df.head(1)
recovery_rate_num_10000 = df_recovery_rate_num_10000.iloc[0]['recovery_rate_num_10000']
recovery_rate_num_10000

In [ ]:
# 4.7. Debt recovery rate in quatitative terms (10k < debt < 100k rub)
# 4.7. recovery_rate_num (долг 10-100 тыс.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -10000 AND SUM(iad.portf_total_amt_rub) >= -100000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT count(q4.party_rk) AS hist_all_debtors_in_category_num, \
            (SELECT count(party_rk) FROM q5) AS debtors_in_category_today_num, \
                round((CAST(count(q4.party_rk) - (SELECT count(party_rk) FROM q5) AS numeric) / CAST(count(q4.party_rk) AS numeric) * 100), 2) AS recovery_rate_num_100000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
                INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -10000 AND q2.max_negative_portf_sum >= -100000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_num_100000 = df.head(1)
recovery_rate_num_100000 = df_recovery_rate_num_100000.iloc[0]['recovery_rate_num_100000']
recovery_rate_num_100000

In [ ]:
# 4.8. Debt recovery rate in quatitative terms (100k < debt < 1mln rub)
# 4.8. recovery_rate_num (долг 100 тыс.-1 млн.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -100000 AND SUM(iad.portf_total_amt_rub) >= -1000000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT count(q4.party_rk) AS hist_all_debtors_in_category_num, \
            (SELECT count(party_rk) FROM q5) AS debtors_in_category_today_num, \
                round((CAST(count(q4.party_rk) - (SELECT count(party_rk) FROM q5) AS numeric) / CAST(count(q4.party_rk) AS numeric) * 100), 2) AS recovery_rate_num_1000000 \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
                INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -100000 AND q2.max_negative_portf_sum >= -1000000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_num_1000000 = df.head(1)
recovery_rate_num_1000000 = df_recovery_rate_num_1000000.iloc[0]['recovery_rate_num_1000000']

In [ ]:
# 4.9. Debt recovery rate in quatitative terms (debt = 1+mln rub)
# 4.9. recovery_rate_num (долг 1+ млн.)

query = "WITH q (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt > '2021-01-01' AND iad.business_dt <= now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                ORDER BY iad.party_rk, iad.business_dt), \
            q2 (party_rk, max_negative_portf_sum) AS (SELECT q.party_rk, MIN(q.negative_portfs_sum) AS max_negative_portf_sum FROM q GROUP BY q.party_rk), \
            q5 (party_rk, business_dt, negative_portfs_sum) AS (SELECT iad.party_rk, iad.business_dt, SUM(iad.portf_total_amt_rub) AS negative_portfs_sum \
                                                                FROM prod_v_emart.invest_account_d iad \
                                                                WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' AND iad.business_dt = now()::date - integer '1' \
                                                                GROUP BY iad.party_rk, iad.business_dt \
                                                                HAVING SUM(iad.portf_total_amt_rub) < -1000000 \
                                                                ORDER BY iad.party_rk, iad.business_dt) \
        SELECT count(q4.party_rk) AS hist_all_debtors_in_category_num, \
            (SELECT count(party_rk) FROM q5) AS debtors_in_category_today_num, \
                round((CAST(count(q4.party_rk) - (SELECT count(party_rk) FROM q5) AS numeric) / CAST(count(q4.party_rk) AS numeric) * 100), 2) AS recovery_rate_num_mlnrs \
        FROM (SELECT q2.party_rk, MIN(q3.business_dt) AS max_debt_date, q2.max_negative_portf_sum FROM q2 \
                INNER JOIN (SELECT * FROM q) q3 ON q3.party_rk = q2.party_rk AND q2.max_negative_portf_sum = q3.negative_portfs_sum \
            WHERE q2.max_negative_portf_sum < -1000000 \
            GROUP BY q2.party_rk, q2.max_negative_portf_sum) q4"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround')
df_recovery_rate_num_mlnrs = df.head(1)
recovery_rate_num_mlnrs = df_recovery_rate_num_mlnrs.iloc[0]['recovery_rate_num_mlnrs']
recovery_rate_num_mlnrs

In [ ]:
# Tables with calculated (above) recovery rates
# Формирование таблицы со значениями recovery_rate

from tabulate import tabulate
col_names = ['', 'по всем клиентам, %', 'по клиентам с долгом < 10 тыс., %', 'по клиентам с долгом 10-100 тыс., %', 'по клиентам с долгом 100 тыс. - 1 млн, %', 'по клиентам с долгом 1+ млн, %']
data = [['recovery_rate_amt', recovery_rate_amt, recovery_rate_amt_10000, recovery_rate_amt_100000, recovery_rate_amt_1000000, recovery_rate_amt_mlnrs],
        ['recovery_rate_num', recovery_rate_num, recovery_rate_num_10000, recovery_rate_num_100000, recovery_rate_num_1000000, recovery_rate_num_mlnrs]
]
recovery_table = tabulate(data, headers=col_names, tablefmt="html")
recovery_table = recovery_table.replace('<br>', '')
text += f"{recovery_table}"
text += f"<div style=\"height: 24px\"></div>"

In [ ]:
# 5.1. Percent of clients with debt in total amount active clients today
# 5.1. Процент клиентов с долгом от общего кол-ва активных клиентов на сегодня

query = "SELECT iad.business_dt, count(DISTINCT party_rk) AS negative_clients_num, iad2.all_clients_num, \
                (round((CAST(count(DISTINCT party_rk) AS numeric) / CAST(iad2.all_clients_num AS numeric)), 8) * 100) AS debt_clients_to_all_share \
        FROM prod_v_emart.invest_account_d iad \
        INNER JOIN \
            (SELECT business_dt, count(DISTINCT party_rk) AS all_clients_num FROM prod_v_emart.invest_account_d \
            WHERE account_status_cd = 'ACT' \
            GROUP BY business_dt \
            ORDER BY business_dt DESC \
            LIMIT 30) iad2 \
        ON iad2.business_dt = iad.business_dt \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
        GROUP BY iad.business_dt, iad2.all_clients_num \
        ORDER BY iad.business_dt DESC \
        LIMIT 30"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_clients_to_all_share = df.head(1)
text += f"<p>Доля клиентов с долгом от общего кол-ва активных клиентов: {df_debt_clients_to_all_share.iloc[0]['debt_clients_to_all_share']}%<br>"

In [ ]:
# 5.2 Total debt to sum of active inv.accounts ratio
# 5.2 Отношение общего долга к сумме всех активных портфелей

query = "SELECT iad.business_dt, -sum(iad.portf_total_amt_rub) AS negative_portf_amt, iad2.all_clients_portf_amt, \
                (round((CAST(-sum(iad.portf_total_amt_rub) AS numeric) / CAST(iad2.all_clients_portf_amt AS numeric)), 8) * 100) AS debt_to_all_portf_amt_share \
        FROM prod_v_emart.invest_account_d iad \
        INNER JOIN \
            (SELECT business_dt, sum(portf_total_amt_rub) AS all_clients_portf_amt FROM prod_v_emart.invest_account_d \
            WHERE account_status_cd = 'ACT' \
            GROUP BY business_dt \
            ORDER BY business_dt DESC \
            LIMIT 30) iad2 \
        ON iad2.business_dt = iad.business_dt \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
        GROUP BY iad.business_dt, iad2.all_clients_portf_amt \
        ORDER BY iad.business_dt DESC \
        LIMIT 30"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_to_all_portf_amt_share = df.head(1)

text += f"Общий долг от суммы всех портфелей: {df_debt_to_all_portf_amt_share.iloc[0]['debt_to_all_portf_amt_share']}%.</p>"

In [ ]:
# 6.1. Total debt to number of active inv.accounts ratio.
# 6.1. Отношение суммы долга к количеству активных БС.

query = "SELECT iad.business_dt, -sum(iad.portf_total_amt_rub) AS negative_portf_amt, iad2.all_accs_num, \
                (round((CAST(-sum(iad.portf_total_amt_rub) AS numeric) / CAST(iad2.all_accs_num AS numeric)), 2)) AS debt_per_client \
        FROM prod_v_emart.invest_account_d iad \
        INNER JOIN \
            (SELECT business_dt, count(portf_total_amt_rub) AS all_accs_num FROM prod_v_emart.invest_account_d \
            WHERE account_status_cd = 'ACT' \
            GROUP BY business_dt \
            ORDER BY business_dt DESC \
            LIMIT 30) iad2 \
        ON iad2.business_dt = iad.business_dt \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
        GROUP BY iad.business_dt, iad2.all_accs_num \
        ORDER BY iad.business_dt DESC \
        LIMIT 30"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_per_client = df.head(1)
f"<p>На один брокерский счёт приходится долга: <b>{df_debt_per_client.iloc[0]['debt_per_client']} руб.</b><br>"

text += f"<p>На один брокерский счёт приходится долга: <b>{df_debt_per_client.iloc[0]['debt_per_client']} руб.</b><br>"

In [ ]:
# 6.2. Total debt to number of inv.accounts with margin trading 
# (later this metric was revised)
# 6.2. Отношение суммы долга к кол-ву счетов с подключенной марж.торговлей 
# (метрика позже пересмотрена).

query = "SELECT iad.business_dt, -sum(iad.portf_total_amt_rub) AS negative_portf_amt, \
            iad2.margin_accs_num, \
            round((CAST(-sum(iad.portf_total_amt_rub) AS numeric) / CAST(iad2.margin_accs_num AS numeric)), 2) AS debt_per_margin_acc \
        FROM prod_v_emart.invest_account_d iad \
        INNER JOIN \
            (SELECT business_dt, count(account_rk) AS margin_accs_num FROM prod_v_emart.invest_account_d \
            WHERE account_status_cd = 'ACT' AND margin_status_flg = 1 \
            GROUP BY business_dt \
            ORDER BY business_dt DESC \
            LIMIT 30) iad2 \
        ON iad2.business_dt = iad.business_dt \
        WHERE iad.portf_total_amt_rub < 0 AND iad.account_status_cd = 'ACT' \
        GROUP BY iad.business_dt, iad2.margin_accs_num \
        ORDER BY iad.business_dt DESC \
        LIMIT 30"

with tf.gp_connect('gp_workaround') as connection_obj:
    df = tf.gp_to_df(query, 'gp_workaround', parse_dates=['business_dt'])
df_debt_per_margin_acc = df.head(1)
f"На один брокерский счёт с подключенной маржинальной торговлей приходится долга: <b>{df_debt_per_margin_acc.iloc[0]['debt_per_margin_acc']} руб.</b></p>"

text += f"На один брокерский счёт с подключенной маржинальной торговлей приходится долга: <b>{df_debt_per_margin_acc.iloc[0]['debt_per_margin_acc']} руб.</b></p>"

In [ ]:
# 7. Average time of debt recovery, segmented by debt value
# 7. Среднее время погашения задолженности, сегментированное по величине долга

import tinkoff as tf
from tabulate import tabulate

def recovery_time(debt_more_than = '', debt_less_than = ''):
    debt_more_than_str = ''
    debt_less_than_str = ''
    if debt_more_than != '':
        debt_more_than_str = f"AND portf_total_amt_rub < {debt_more_than} "
    if debt_less_than != '':
        debt_less_than_str = f"AND portf_total_amt_rub >= {debt_less_than} "
    query = f"SELECT round(AVG(recovery_time_count), 2) AS avg_recovery_time \
                FROM    (SELECT *, CASE WHEN is_negative = 2 AND lead(is_negative, 1) OVER (PARTITION BY account_rk ORDER BY business_dt ASC) = 3 THEN (lead(business_dt, 1) OVER (PARTITION BY account_rk ORDER BY business_dt ASC))::DATE - business_dt::DATE \
                                        END AS recovery_time_count \
                        FROM    (SELECT *, CASE WHEN portf_total_amt_rub < 0 AND prev_day_portf_total IS NULL THEN 404 \
                                                WHEN portf_total_amt_rub < 0 AND prev_day_portf_total >= 0 THEN 2 \
                                                WHEN portf_total_amt_rub >= 0 AND prev_day_portf_total < 0 THEN 3 \
                                                WHEN portf_total_amt_rub >= 0 THEN 0 \
                                                WHEN portf_total_amt_rub < 0 THEN 1 \
                                            END AS is_negative \
                                FROM    (SELECT account_rk, business_dt, portf_total_amt_rub, \
                                                lag(portf_total_amt_rub, 1) OVER (PARTITION BY account_rk ORDER BY business_dt ASC) AS prev_day_portf_total \
                                        FROM prod_v_emart.invest_account_d \
                                        WHERE account_status_cd = 'ACT' AND business_dt >= '2021-01-01' \
                                        ORDER BY account_rk, business_dt) iad) iad2 \
                    WHERE is_negative IN (2,3)) iad3 \
                WHERE is_negative = 2 {debt_more_than_str}{debt_less_than_str}"
    with tf.gp_connect('gp_workaround') as connection_obj:
        df = tf.gp_to_df(query, 'gp_workaround')
    return df.iloc[0]['avg_recovery_time']

text += f"<p>Среднее время погашения задолженности (дней):</p>"
col_names = ['', 'по всем клиентам', 'по клиентам с долгом < 10 тыс.', 'по клиентам с долгом 10-100 тыс.', 'по клиентам с долгом 100 тыс. - 1 млн', 'по клиентам с долгом 1+ млн']
data = [['Среднее время погашения задолженности', recovery_time(), recovery_time(0, -10000), recovery_time(-10000, -100000), recovery_time(-100000, -1000000), recovery_time(-1000000)]]
recovery_time_table = tabulate(data, headers=col_names, tablefmt="html")
recovery_time_table = recovery_time_table.replace('<br>', '')
text += f"{recovery_time_table}"
text += f"<div style=\"height: 24px\"></div>"
text += "</body></html>"

In [ ]:
# Send letter to e-mail
# Отправляем письмо на почту

from datetime import datetime
subject = f"Статистический отчёт по должникам {datetime.now().strftime('%d.%m.%Y')} (Limited Edition)"
addressee = ['i.baryshnikov@tinkoff.ru']
tf.send_email(subject, text, addressee, files = None, from_user = True)